.figure {
    border-radius: 5px;
    overflow: hidden;
    max-width: 500px;
    background-color: #f6f6f7e8;
    color: black;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
}

.figure > button {
    position: absolute;
    background: transparent;
    border: 0;
    margin-top: 5px;
    backdrop-filter: blur(1px);
}

.figure > button:hover {
  cursor: pointer;
}

.figureCaption > * {
    margin: 0;
}

.figureCaption {
    margin-left: 10px;
    padding-right: 14px;
    max-width: 95%;
    height: 260px;
    overflow-y: scroll;
}

.figureCaption::-webkit-scrollbar {
    width: 4px;
    /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
  }
  
  /* hover effect for both scrollbar area, and scrollbar 'thumb' */
  
  .figureCaption::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }
  
  /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
  
  .figureCaption::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars. 
       Yes, I pulled out digital color meter */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
  }
  
  .figureCaption::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    /* Some darker color when you click it */
    border-radius: 100px;
  }


.figureCaption > h1 {
    margin: 10px 0;
    font-weight: var(--bold);
}

.date {
    font-style: italic;
    margin-bottom: 20px;
}

.explanation {
    margin-bottom: 16px;
}

.truncateButton {
  font-family: 'Montserrat', sans-serif;
  background: none;
  border: 0;
  padding: 0;
  font-size: 17px;
  color: var(--button-primary);
  margin-bottom: 10px;
}

.truncateButton:hover {
  cursor: pointer;
}