.filterWhite {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(104deg) brightness(108%) contrast(101%);
}

.footer * {
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--button-primary);
  justify-content: center;
  align-items: center;
}

.footer * {
  color: var(--text-primary);
  font-weight: var(--bold);
  text-decoration: none;
}

.siteInfo h4:hover{
  color: #78757a;
}

.siteInfo {
  width: 100%;
  text-align: center;
}

.siteInfo * {
  margin: 0;
}

.credits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.credits * {
  font-size: 17px;
  margin: 10px 0;
}

.socialMedia * {
  margin-right: 10px;
}