.landing {
  overflow: hidden;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.heroTitle {
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  position: relative;
  top: 250px;
  width: 100%;
  font-size: 6vw;
  animation: show 1s;
  text-align: center;
}

.showHorizon {
  opacity: 0;
  animation: show 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.horizon {
  animation: pulse 4s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  position: absolute;
  bottom: 100px;
  width: 100%;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}